/* Coolors Exported Palette - coolors.co/ffb997-f67e7d-ff0000-0b032d-74546a */

/* HSL */
$color1: hsla(20%, 100%, 80%, 1);
$color2: hsla(0%, 87%, 73%, 1);
$color3: hsla(0%, 100%, 50%, 1);
$color4: hsla(251%, 88%, 9%, 1);
$color5: hsla(319%, 16%, 39%, 1);

/* RGB */
$color1: rgba(255, 185, 151, 1);
$color2: rgba(246, 126, 125, 1);
$color3: rgba(255, 0, 0, 1);
$color4: rgba(11, 3, 45, 1);
$color5: rgba(116, 84, 106, 1);